/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$blanco: #fff;
$rojo: #e21725;
$rojo-a: rgba(226,23,37,.7);
$negro: #333;
$gris-txt: #555;
$gris-b: #bbb;
$gris: #ddd;
$gris-c: #f7f7f7;

$m60: 600px;
$m6: 670px;
$m7: 740px;
$m8: 800px;
$m9: 900px;
$m10: 1000px;
$m12: 1250px;
$m14: 1400px;
$m16: 1600px;
$m18: 1810px;

body {
    margin: 0;
    padding: 0;
    background-color: $gris-c;
    color: $negro;
    font-family: lato, sans-serif;
}

a {
    text-decoration: none;
    color: $rojo;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=time],
input[type=search],
input[type=date],
input[type=number],
textarea {
    border-radius: .4em;
    border: none;
}
textarea {
    max-width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 2.6em;
    padding: .3em;
    box-sizing: border-box;
    background-color: $blanco;
    @media screen and (min-width: $m6) {
        height: 2.5em;
    }
}

.ui-dialog {
    z-index: 101;
}

.content,
.content-video {
    padding: 4.5em 0 0;
    @media screen and (min-width: $m6) {
        padding-top: 2.5em;
    }
}

//HEADER


.menu-button {
    color: $rojo;
    height: 2em;
    padding: .2em 0 0 .5em;
    box-sizing: border-box;
    @media screen and (max-width: $m6 - 1) {
        float: right;
    }
    @media screen and (min-width: $m6) {
        float: left;
    }
    .fa{
        font-size: 1.5em;
    }
}

.header-main {
}

.logo {
    height: 2em;
    float: left;
    margin-left: .5em;
    
    img {
        height: 100%;
    }
}

.search-div {
    background-color: #fff;
    padding-bottom: .3em;
    .loop {
        color: $rojo;
    }
}
@media screen and (max-width: $m6 - 1) {
    .header.clicked .search-div,
    .search-div:not(.opened) {
        .search-form {
            input {
                display: none;
            }
        }
        .loop {
            float: right;
            height: 2em;
            padding: .45em .5em 0;
            box-sizing: border-box;
        }
    }
    .header:not(.clicked) {
        .search-div {
            &.opened {
                .search-form {
                    //margin: .3em 0;
                    padding: 0 .5em;
                }
                .loop {
                    margin-top: .3em;
                    width: 8%;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
}
.search-form {
    input {
        vertical-align: middle;
        margin-top: .5em;
        border: 1px solid $rojo;
        border-radius: .4em;
        width: 87%;
        font-size: .9em;
        padding: .2em .3em .1em;
    }
}
@media screen and (min-width: $m6) {
    .main-content{
        .content {
            transition-duration: 500ms;
            transition-property: padding-left;
        }
        &.content-layout {
            .login-categories {
                left: 0;
            }
            .header.clicked {
                .login-categories {
                    left: -15em;
                }
            }
            .content {
                padding-left: 14.5em;
            }
            .content.clicked {
                padding-left: .3em;
            }
        }
        &:not(.content-layout) {
            .login-categories {
                left: -15em;
            }
            .header.clicked {
                .login-categories {
                    left: 0;
                }
            }
            .content {
                padding-left: .3em;
            }
            .content.clicked {
                padding-left: 14.5em;
            }
        }
    }
}
.login-categories {
    position: fixed;
    top: 2.6em;
    max-width: 14.5em;
    max-height: calc(100vh - 2.6em);
    overflow-y: auto;
    transition-duration: 500ms;
    @media screen and (max-width: $m6 - 1) {
        transition-property: right;
        right: -100%;
    }
    @media screen and (min-width: $m6) {
        transition-property: left;
        top: 2.5em;
    }
}
.header.clicked {
    .login-categories {
        @media screen and (max-width: $m6 - 1) {
            right: 0%;
        }
        // @media screen and (min-width: $m6) {
        //     left: -100%;
        // }
    }
}
.block-region-login-categories {
    padding: .5em 1em;
    background-color: $blanco;
    box-shadow: inset 0px 12px 15px -10px $gris-b;
}
.user-header {
    text-align: center;
    a {
        display: inline-block;
        vertical-align: middle;
        color: $gris-txt;
        font-size: 1.1em;
    }
    .login,
    .sign-up,
    .logout {
        padding: .7em .3em .9em;
        &:before {
            margin-right: .2em;
            font-family: FontAwesome;
        }
    }
    .login {
        &:before {
            content: "\f007";
        }
    }
    .sign-up {
        &:before {
            content: "\f090";
        }
    }
    .logout {
        display: block;
        text-align: right;
        padding-right: 1em;
        padding-bottom: .5em;
        &:before {
            content: "\f08b";
        }
    }
    .profile-image {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 2.5em;
        }
    }
    .profile-link {
        padding: 1em .5em;
    }
}
.favorites-menu {
    padding: .5em 0 .8em;
    text-align: center;
    font-size: 1.2em;
    a {
        color: $gris-txt;
    }
    .text {
        display: inline;
        padding-left: .5em;
    }
}
.login-categories {
    .views-row {
        border-bottom: 2px solid $gris-b;
        padding: .4em 1em;
        text-align: center;
        &:first-child {
            border-top: 2px solid $gris-b;
        }
        &:last-child {
            border: none;
        }
        a {
            font-size: 1.2em;
        }
    }
}

//CONTENT
//232
.main-content.content-layout {
    .content {
        .video {
            @media screen and (min-width: $m6) {
                width: 100%;
            }
            @media screen and (min-width: $m8) {
                width: 50%;
                min-height: 30.5vw;
            }
            @media screen and (min-width: $m12) {
                width: 33%;
                min-height: 21.8vw;
            }
            @media screen and (min-width: $m14) {
                width: 25%;
                min-height: 17.5vw;
            }
            @media screen and (min-width: $m18) {
                width: 20%;
                min-height: 14.5vw;
            }
        }
    }
    .content.clicked {
        .video {
            @media screen and (min-width: $m7) {
                min-height: 38.2vw;
            }
            @media screen and (min-width: $m9) {
                width: 33%;
                min-height: 28vw;
            }
            @media screen and (min-width: $m10) {
                min-height: 27vw;
            }
            @media screen and (min-width: $m12) {
                width: 25%;
                min-height: 20.5vw;
            }
            @media screen and (min-width: $m14) {
                //min-height: 18.4vw;
            }
            @media screen and (min-width: $m16) {
                width: 20%;
                min-height: 17vw;
            }
            @media screen and (min-width: $m18) {
                min-height: 16vw;
            }
        }
    }
}
.video {
    margin-bottom: 1em;
    @media screen and (min-width: $m60) {
        display: inline-block;
        vertical-align: top;
        float: left;
        //margin-bottom: .3em;
        box-sizing: border-box;
        width: 50%;
        //min-height: 17.7em;
        min-height: 38vw;
        padding: 0 .2em;
    }
    .image {
        position: relative;
        img {
            width: 100%;
        }
    }
    .video-container {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .ajax-progress {
        //.ajax-progress-throbber
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

.video-info {
    padding: 0 .3em;
}

.title {
    max-height: 2.3em;
    padding-top: .2em;
    overflow: hidden;
    line-height: 1.2;
    font-size: 1.05em;
    font-weight: 700;
    color: $rojo;
}

.views,
.ratings {
    display: inline-block;
    color: $negro;
    i,
    div {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        margin-right: .1em;
        font-size: 1.2em;
    }
}

.views {
    margin-right: 1.4em;
}

.video-content {
    position: relative;
    .preview-button {
        position: absolute;
        top: .3em;
        right: .3em;
        border-radius: 1em;
        padding: 0 .3em .1em;
        background-color: $rojo;
        color: #fff;
        &:before {
            margin-right: .2em;
        }
    }
    .extras {
        padding: .3em;
        .top {
            .picture,
            .user-title {
                display: inline-block;
                vertical-align: top;
            }
            .picture {
                position: relative;
                border-radius: 50%;
                width: 13%;
                overflow: hidden;
                padding-top: 13%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                }
            }
            .user-title {
                width: 86%;
                box-sizing: border-box;
                padding-left: .5em;
                .title {
                    color: $rojo;
                }
                .user {
                    font-size: .8em;
                    a {
                        color: $gris-txt;
                    }
                }
            }
        }
        .taxonomy {
            .label {
                display: inline;
                i {
                    margin-left: .3em;
                }
            }
            .tag-list {
                display: inline;
            }
        }
    }
    .last-row {
        padding-bottom: 1em;
        text-align: center;
        .like,
        .comments-btn,
        .share-widget {
            display: inline-block;
            vertical-align: middle;
            i {
                margin-left: .3em;
            }
        }
        .like {
            .rate-field-container {
                position: relative;
                padding-left: 1.7em;
                padding-top: .2em;
            }
            .total-votes {
                position: absolute;
                color: $gris-txt;
            }
            .thumbs {
                font-size: 1.6em;
                position: absolute;
                top: 0;
                left: 0;
                color: $rojo;
            }
        }
        .comments-btn {
            margin: 0 10vw;
            span {
                margin-left: .2em;
                color: $gris-txt;
            }
        }
        .share-widget {
            position: relative;
            .share-btn{
                color: $rojo;
            }
            .share-pop {
                position: absolute;
                bottom: 75%;
                right: 0;
                min-width: 10em;
                text-align: right;
                a {
                    font-size: 2.5em;
                }
            }
        }
    }
}

.comment-modal {
    background-color: $gris;
    border-radius: 1em;
    overflow: hidden;
    box-sizing: border-box;
    &.ui-widget.ui-widget-content {
        border: none;
    }
    .ui-dialog-titlebar {
        background: none;
        border: none;
        button {
            background: none;
            border: none;
        }
    }
    .ui-dialog-buttonpane {
        background: none;
        border: none;
        button {
            margin-top: 0;
            margin-right: 0;
            border-radius: .4em;
            padding: .5em .5em .3em;
            background: $rojo;
            color: #fff;
            font-weight: 700;
        }
    }
}
.ui-widget-overlay {
    background: #000;
    opacity: .8;
}

//SINGLE

.content-video {
    //padding-top: 3em;
}

.player {
    background-color: #000;
    .video-js {
        width: 100%;
        height: auto;
        padding-top: 100% / 16 * 9;
        @media screen and (min-width: $m6) {
            margin: auto;
            //width: auto;
            //height: 80vh;
            width: 70%;
            padding-top: 70% / 16 * 9;
        }
    }
}

.duration,
.date-added {
    display: inline-block;
}

//SCROLLBAR
@media screen and (min-width: $m6) {
    ::-webkit-scrollbar {
        width: 0.5em;
    }
    ::-webkit-scrollbar-track {
        //border-radius: 0.5em;
        background-color: $gris;
        margin-left: 0.1em;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0.5em;
        background-color: $rojo;
    }
}

.jscroll-next {
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}