<div class="search-div opened">
    <form action="/find" class="search-block-form search-form">
        <input autocomplete="off" autofocus="" id="" name="q" placeholder="Search"/> <i class="loop fa fa-search" aria-hidden="true"></i>
    </form>
</div>